@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

*,
::after,
::before {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-family: var(--font-industrial);
}

body {
  margin: 0 auto;
  max-width: clamp(350px, 80vw, 600px);

  @media (max-width: 685px) {
    max-width: 90vw;
  }
}

header#main-header {
  position: sticky;
  background-color: var(--surface-1);
  z-index: 1;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  align-items: center;

  h1 {
    font-size: var(--font-size-fluid-3)
  }

  button {
    margin: var(--size-2);
  }
}

#main-menu-button {
  position: relative;
  anchor-name: --main-menu-button;
  width: var(--size-12);
  left: -.5rem;
}

#main-menu {
  &:not(:popover-open) {
    display: none
  }

  &:popover-open {
    position: fixed;
    top: calc(3rem + var(--size-1));
    left: auto;
    right: calc((100vw - min(clamp(350px, 80vw, 600px), 600px)) / 2 + var(--size-3));
    width: var(--size-12);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-3);
    list-style: none;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    margin: var(--size-2) 0 var(--size-2) 0;
    padding: 0;

    @media (max-width: 685px) {
      top: calc(min(1rem, 3vh) + var(--font-size-fluid-2));
      right: calc((100vw - 90vw) / 2 + var(--size-3));
    }

    li {
      margin: 0;
      padding: 0;

      button {
        width: 100%;
        margin: 0;
      }
    }
  }
}

@supports (anchor-name: --test) {
  #main-menu:popover-open {
    position: fixed;
    top: unset;
    right: unset;
    left: unset;
    position-anchor: --main-menu-button;
    position-area: bottom;
  }
}

main {
  overflow-y: scroll;
  height: 100%;
  position: relative;
  padding-bottom: var(--size-8)
}

footer#main-footer {
  width: 100%;
  background: var(--surface-1);
  position: fixed;
  height: var(--size-8);
  left: 0;
  bottom: 0;
  z-index: 10;

  p {
    position: relative;
    text-align: center;
    z-index: 1;
    margin: var(--size-2) 0;
  }
}

h2,
h3 {
  text-align: center;
}

@layer card {
  .card {
    border-radius: var(--radius-2);
    padding: var(--size-fluid-3);
    box-shadow: var(--shadow-2);
    margin: 0 auto;

    &:hover {
      box-shadow: var(--shadow-3);
    }

    @media (--motionOK) {
      animation: var(--animation-fade-in);
    }
  }

  .card-1 {
    background: var(--surface-2);
  }

  .card-2 {
    background: var(--surface-3);
  }

  .colour-card {
    background: var(--gradient-21);
  }
}

.form-input {
  display: grid;
  gap: var(--size-2);
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.form-input:has([type="checkbox"]) {
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
}

.full-width {
  grid-column: 1 / -1;
}

.form-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--size-2);

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

fieldset {
  display: grid;
  gap: var(--size-2);
  grid-template-columns: 1fr 1fr;

  @media (max-width: 435px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

#colour-picker {
  .form-input {
    margin: 0 auto;
    max-width: fit-content;
    margin-bottom: var(--size-2);

    input {
      justify-self: center;
    }
  }

  #colour-values {
    margin-inline: var(--size-fluid-3);

    p {
      display: grid;
      gap: var(--size-1);
      grid-template-columns: 1fr 1fr;
      margin-bottom: var(--size-2);
    }
  }
}

#timestamps {
  #fieldsets-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--size-2);
  }
}
