<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Components</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>
    <script src="static/script.js"></script>
    <header>
        <nav>
            <button id="nav-menu-button" class="round-icon" popovertarget="nav-menu-popover" popovertargetaction="show">
                <img src="static/assets/menu-icon.png" alt="menu icon" class="icon" height="10">
            </button>
            <div id="nav-menu-popover" class="menu-items" popover>
                <a href="index.html" class="active"><img src="static/assets/home-icon.png" height="10" alt="home page icon"></a>
                <label for="component-nav-select">
                    <select _="on change get my options[my selectedIndex] then trigger selected on it" hx-target="#content"
                            hx-swap="innerHTML" class="page-select" id="component-nav-select">
                        <option selected></option>
                        <option hx-get="examples/accordion.html" hx-trigger="selected">Accordion</option>
                        <option hx-get="examples/autocomplete.html" hx-trigger="selected">Autocomplete</option>
                        <option hx-get="examples/chip.html" hx-trigger="selected">Chip</option>
                        <option hx-get="examples/colour.html" hx-trigger="selected">Colour</option>
                        <option hx-get="examples/dialog.html" hx-trigger="selected">Dialog</option>
                        <option hx-get="examples/footnote.html" hx-trigger="selected">Footnote</option>
                        <option hx-get="examples/switch.html" hx-trigger="selected">Switch</option>
                    </select>
                    <span>Components</span>
                </label>
                <label>
                    <select _="on change get my options[my selectedIndex] then trigger selected on it" hx-target="#content"
                            hx-swap="innerHTML" class="page-select" id="style-nav-select">
                        <option selected></option>
                        <option hx-get="examples/gradient.html" hx-trigger="selected">Gradient</option>
                        <option hx-get="examples/new-morphism.html" hx-trigger="selected">New Morphism</option>
                        <option hx-get="examples/resize.html" hx-trigger="selected">Resize</option>
                    </select>
                    <span>Styles</span>
                </label>
            </div>
            <h3 class="nav-title">Dank Design</h3>
            <div class="centred-column">
                <label for="theme-switch">
                    <input type="checkbox" class="switch" id="theme-switch" />
                </label>
            </div>
        </nav>

    </header>

    <main>
        <section class="card" id="content">
            <h2>Without Frameworks</h2>
            <p>
                JavaScript frameworks are great. They allow you to create web apps with rich functionality and complex
                components, but they come at a cost: bloating your countless packages and arcane methods of bundling
                and transpiling.
            </p>
            <p>
                Many of these 'complex' components can be built with just the Holy Trinity&#8482; of web development
                (HTML, CSS and JavaScript). A lot of the time you don't even need JavaScript, or at best only a
                smidgen. With a canny use of only the first two you can create some use functionality without
                installing a single package.
            </p>
            <p>
                When something is too complex for just HTML and CSS to achieve, there still might not be any need for
                javascript (kind of) thanks to a new kid on the block with some old school ideas:
                <a href="https://htmx.org/" target="_blank">htmx</a>, and it's friend
                <a href="https://hyperscript.org/" target="_blank">hyperscript</a>. Routin, state management and DOM
                Manipulation without having to write a line of javascript
            </p>
            <p>
                These components are mainly inspired by
                <a href="https://www.youtube.com/watch?v=IP_rtWEMR0o" target="_blank">this</a> talk by Kilian Valkhof
                and <a href="https://www.youtube.com/watch?v=PL3Odw-k8W4" target="_blank">this</a> video by the
                youtuber Coding2GO, but also other places across the web where I've been able to take inspiration
                <sup class="footnote" _="on click get the next <details/> then toggle @open on it">[1]</sup> from
                others.
            </p>
            <details>
                <summary>
                    <hr>
                </summary>
                <p>
                    <sup>[1]</sup> Read: nicked. I've tried to credit where I've taken inspiration from, but if I've
                    missed
                    something please let me know.
                </p>
            </details>
        </section>
    </main>

    <footer>
        <p>
            Assembled by <a href="https://github.com/dankbjss" target="_blank">Dan Kiernan</a>
            Hosted on a <a href="https://github.com/dankbjss/web-examples" target="_blank">github</a> with pages.
        </p>
        <details>
            <summary>
                Icons from <a href="https://www.flaticon.com" target="_blank">flaticon.com</a>
            </summary>
            <a href="https://www.flaticon.com/free-icons/home-agent" title="home agent icons">Home agent icons created by alihmirza111 - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/menubar" title="menubar icons">Menubar icons created by NajmunNahar - Flaticon</a>
        </details>
        <p>
        </p>
    </footer>
</body>

</html>