<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Components</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>
    <script src="static/script.js"></script>
    <header>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li><a href="index.html" class="active nav-item">Home</a></li>
                <li class="nav-item has-dropdown">
<!--                    <a href="#">Components</a>-->

                    <button id="open-components-button">Components</button>
                    <dialog id="components-dialog">
                            <ul class="nav-dialog-list">
                                <li>
                                    <button
                                            class="close-dialog-button"
                                            hx-get="examples/accordion.html"
                                            hx-trigger="click"
                                            hx-target="#content"
                                            hx-swap="innerHTML"
                                    >Accordion</button>
                                </li>
                                <li>
                                    <button
                                            class="close-dialog-button"
                                            hx-get="examples/autocomplete.html"
                                            hx-trigger="click"
                                            hx-target="#content"
                                            hx-swap="innerHTML"
                                    >Autocomplete</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/chip.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Chip</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/colour.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Colour</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/dialog.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Dialog</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/footnote.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Footnote</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/gradient.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Gradient</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/new-morphism.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">New Morphism</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/resize.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Resize</button>
                                </li>
                                <li class="dropdown-item">
                                    <button class="close-dialog-button" hx-get="examples/switch.html" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Switch</button>
                                </li>
                            </ul>
                    </dialog>
                </li>
                <li class="nav-item">
                    <label for="theme-switch">
                        <input type="checkbox" class="switch" id="theme-switch" />
                    </label>
                </li>
            </ul>
        </nav>
        <h1>Web Components</h1>
    </header>
    <main>
        <section class="card" id="content">
            <h2>Without Frameworks</h2>
            <p>
                JavaScript frameworks are great. They allow you to create web apps with rich functionality and complex
                components, but they come at a cost: bloating your countless packages and arcane methods of bundling
                and transpiling.
            </p>
            <p>
                Many of these 'complex' components can be built with just the Holy Trinity&#8482; of web development
                (HTML, CSS and JavaScript). A lot of the time you don't even need JavaScript, or at best only a
                smidgen. With a canny use of only the first two you can create some use functionality without
                installing a single package.
            </p>
            <p>
                When something is too complex for just HTML and CSS to achieve, there still might not be any need for
                javascript (kind of) thanks to a new kid on the block with some old school ideas:
                <a href="https://htmx.org/" target="_blank">htmx</a>, and it's friend
                <a href="https://hyperscript.org/" target="_blank">hyperscript</a>. Routin, state management and DOM
                Manipulation without having to write a line of javascript
            </p>
            <p>
                These components are mainly inspired by
                <a href="https://www.youtube.com/watch?v=IP_rtWEMR0o" target="_blank">this</a> talk by Kilian Valkhof
                and <a href="https://www.youtube.com/watch?v=PL3Odw-k8W4" target="_blank">this</a> video by the
                youtuber Coding2GO, but also other places across the web where I've been able to take inspiration
                <sup class="footnote" _="on click get the next <details/> then toggle @open on it">[1]</sup> from
                others.
            </p>
            <details>
                <summary>
                    <hr>
                </summary>
                <p>
                    <sup>[1]</sup> Read: nicked. I've tried to credit where I've taken inspiration from, but if I've
                    missed
                    something please let me know.
                </p>
            </details>
        </section>
    </main>

    <footer>
        <p>Assembled by <a href="https://github.com/dankbjss" target="_blank">Dan Kiernan</a>
    </footer>
</body>

</html>