@import url('./styles/variables.css');
@import url('./styles/theme.css');
@import url('./styles/utility.css');
@import url('./styles/button.css');
@import url('./styles/chip.css');
@import url('./styles/input.css');
@import url('./styles/globals.css');
@import url('./styles/modal.css');
@import url('./styles/nav.css');
@import url('./styles/switch.css');

/* Responsive design */
@media (min-width: 1024px) {
    body {
        font-size: 1.125rem;
    }

    main {
        max-width: 1200px;
        padding: 2rem;
    }

    header {
        text-align: center;
    }

    section {
        padding: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    button {
        font-size: 1.25rem;
        padding: 1.5rem;
    }

    input[type="text"],
    textarea {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    body {
        font-size: var(--font-size-small);
    }

    h1 {
        font-size: var(--font-size-large);
    }

    main {
        padding: 0.5rem;
    }

    header {
        text-align: left;
    }

    section {
        padding: 0.5rem;
    }

    button {
        width: 100%;
        padding: 1rem;
    }

    input[type="text"],
    textarea {
        font-size: var(--font-size-small);
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.25rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.875rem;
    }

    button {
        font-size: 0.875rem;
        width: auto;
        padding: 0.5rem 1rem;
    }

    input[type="text"],
    textarea {
        font-size: 0.75rem;
    }
}

/* If the user prefers a smooth scroll make it smooth */
@media(prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}