#nav-menu-popover:popover-open {
    width: 50%;
    position: absolute;
    inset: unset;
    top: 0;
    left: 2.65rem;
    margin: 0;
    display: flex;
    border: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--card-background);
}

nav {
    background-color: var(--card-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    img.icon {
        height: 1.65rem;
        display: block;
        border-radius: 50%;
        background-color: var(--button-background);
    }

    button.round-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 1rem;
        border-radius: 50%;
        background-color: var(--button-background);
        color: var(--button-color);
        border: none;
        height: 1.65rem; /* Adjust size as needed */
    }

    button.round-icon img {
        /*width: 1.65rem; !* Adjust size as needed *!*/
        /*border-radius: 50%;*/
        object-fit: cover;
    }

    .active {
        float: left;
        display: block;
        border-radius: 50%;
        text-align: center;
        padding: 0 10px;
        height: 1.65rem;
        text-decoration: none;
        background-color: var(--button-background);
        color: var(--button-color);
    }

    .active:hover {
        background-color: var(--button-hover-background);
        color: var(--button-color)
    }

    label {
        display: flex;
        flex-direction: column-reverse;
    }

    label>span {
        text-align: center;
        font-size: small;
        transform-origin: top center;
        color: var(--button-color)
    }
}